# node_modules
./API/node_modules/
./UI/node_modules/

# Babel build directory
API/build/

# DS_STORE
.DS_STORE
./UI/.DS_STORE
./API/.DS_STORE

# Coverage directory
./API/coverage/

# nyc directory
./API/.nyc_output

# npm
npm-debug.log

# .env file
.env