# node_modules
node_modules/
UI/node_modules/

# Babel build directory
dist/

# DS_STORE
.DS_STORE
UI/.DS_STORE
API/.DS_STORE

# Coverage directory
coverage/

# nyc directory
.nyc_output

# npm
npm-debug.log

# .env file
.env

package-lock.json
