@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
/*color variable decalaration*/

:root {
  --cream-green: #01c2b6;
  --orange: #fb9246;
  --black: #292929;
  --yellow: #fbb416;
  --highlight: rgba(94, 254, 53, 0.25);
  --light-grey: #c4c4c490;
  --dark-grey: #a6a6a6;
  --background: #f4f6f9;
}
/*border box alows us to add padding and border to our elemets without increasing their size */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*We inherit box-sizing: border-box from <html> selector 
as this will give us more felexibility of using other box sizing value(box-padding,
content-box) with worry about universal selector overriding our CSS
*:after, *:before caters for pseodo element box-sizing*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--background);
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--orange);
}

footer a {
  display: inline-block;
}

h1 {
  font-weight: 700;
  line-height: 39px;
  font-size: 46px;
  color: var(--black);
  max-width: 300;
}

h2 {
  line-height: 26px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

h2,
h3 {
  grid-column: 2;
  margin: 0;
  justify-self: center;
}

p {
  font-family: "Lato";
  font-weight: 400;
  font-size: 15px;
  max-width: 400px;
  line-height: 20px;
}

.wrapper {
  position: relative;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 1.7rem auto 1.7rem;
  grid-template-areas: "... logo ..." ".    inner   ." "food food food" "footer footer footer";
}

.logo {
  display: grid;
  grid-area: logo;
  margin: 1.5rem 0;
  /* place-items: center; */
}

.logo img {
  width: 180px;
  height: auto;
}
/** Main content**/

.inner {
  display: flex;
  grid-area: inner;
  justify-content: center;
  align-self: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons a {
  width: 100%;
  display: block;
}

button {
  padding: 1rem 2.5rem;
  border: 0;
  color: white;
  background: var(--black);
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  margin: 1rem 0;
  text-transform: uppercase;
  width: 100%;
  outline: none;
}

.button-caterer {
  background: var(--orange);
  margin-left: 0.7rem;
}
/** Food images content**/

.food {
  display: grid;
  grid-area: food;
  grid-template-columns: fit-content(80px) 100px 1fr;
  grid-template-rows: 1fr auto auto;
  padding: 0;
}

.food .burger {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  justify-self: start;
  align-self: end;
  max-width: 100%;
  height: 300px;
  transform: rotate(120deg);
  margin-bottom: 1rem;
}

.food .drinks {
  grid-column: 2;
  grid-row: 3;
  max-width: 100%;
  align-self: end;
  justify-self: center;
  margin-bottom: -30px;
}

.food .chips {
  grid-column: 3;
  grid-row: 2 / 4;
  max-width: 100%;
  align-self: end;
  justify-self: end;
  transform: rotate(90deg);
  height: 130px;
}

.food .ketchup {
  grid-column: 1;
  grid-row: 2;
  max-width: 100%;
  height: 50px;
}

.food .yellowcream {
  grid-column: 1;
  grid-row: 3;
  max-width: 100%;
  transform: rotate(90deg);
  justify-self: start;
  margin-left: -22px;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  background: var(--cream-green);
  color: white;
  padding: 1.5rem 2rem;
  z-index: 1;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid var(--light-grey);
  outline: none;
  font-size: 14px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid var(--black);
}

@media (min-width: 667px) {
  .food {
    display: none;
  }
  p {
    max-width: 500px;
  }
}

@media (min-width: 1024px) {
  .logo {
    align-items: end;
    justify-items: space-between;
    padding: 1rem 0;
  }
  .logo img {
    width: 250px;
    height: auto;
  }
  h1 {
    font-size: 42px;
    max-width: 480px;
    line-height: 3rem;
  }
  h2 {
    grid-column: 1;
    justify-self: start;
  }
  h3 {
    grid-column-end: -1;
    justify-self: end;
  }
  p {
    max-width: 500px;
  }
  .inner {
    justify-self: start;
    align-self: start;
  }
  .food {
    display: grid;
  }
  .buttons {
    display: flex;
    justify-content: start;
    margin-top: 2.2rem;
  }
  button {
    padding: 1rem 2.5rem;
    font-size: 16px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
  }
  .wrapper {
    text-align: start !important;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 0px 1fr 1fr;
    grid-template-areas: "... logo  food" "... inner  food " "footer footer footer";
    grid-column-gap: 5rem;
  }
  .food {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    padding: 0;
  }
  .food .burger {
    height: 390px;
    grid-column: 1;
    grid-row: 1 / 3;
    justify-self: start;
    align-self: end;
  }
  .food .drinks {
    grid-column: 1;
    grid-row: 2;
    height: auto;
    justify-self: end;
    align-self: end;
  }
  .food .chips {
    grid-column: 1;
    grid-row: 1;
    height: auto;
    transform: rotate(0deg);
    align-self: start;
    height: 200px;
  }
  .food .ketchup {
    grid-column: 1;
    grid-row: 3;
    height: auto;
    height: 100px;
  }
  .food .yellowcream {
    grid-column: 1;
    grid-row: 3;
    justify-self: end;
    align-items: end;
    transform: rotate(0deg);
    height: 70px;
    margin-top: 40px;
  }
}
